*{
    margin: 0;
    font-family: "Inter";
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #1A0B2E;
}

/*Animations*/
@keyframes pulse {
    0% {
        scale: 1;
        box-shadow: 0 0 0 0 rgba(255, 45, 149, 0.7);
    }
    25% {
        scale: 1.05;
        box-shadow: 0 0 0 12px rgba(255, 45, 149, 0);
    }
    50% {
        scale: 1.10;
        box-shadow: 0 0 0 24px rgba(255, 45, 149, 0);
    }
    75% {
        scale: 1.05;
        box-shadow: 0 0 0 12px rgba(255, 45, 149, 0);
    }
    100% {
        scale: 1;
        box-shadow: 0 0 0 0 rgba(255, 45, 149, 0);
    }
}

@keyframes wave {
    0% {
        box-shadow: 0 0 0 0 rgba(215, 208, 16, 1);
    }
    50% {
        box-shadow: 0 0 0 48px rgba(237, 9, 123, 0.7);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(219, 198, 9, 0.7);
    }
}

.head{
    display: flex;
    align-items: center;
    padding: 0px 200px;
    justify-content: space-between;
    background-color: #1A0B2E;
    width: auto;
    height: 92px;
}

.tabs{
    display: flex;
    gap: 32px;
    font-size: 16px;
    color: white;

}

.tabs h4{
    font-weight: 300;
}

.tabs h4:hover{
    background-color: #00FF88;
    border: none;
    border-radius: 40px;
    padding: 4px;
    color: #1A0B2E;
}
.head h1{
    color: white;
}
.head h1 span{
    background-image: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}
.Sub{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: auto;
    padding: 16px 12px;
    border: none;
    border-radius: 40px;
    background-image: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
}

.Sub:hover{
    background-image: none;
    background-color: #00FF88;
    color: #1A0B2E;
}

.Sub h2{
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.head img{
    display: none;
}
/*=====Responsive Header*/
@media screen and (max-width: 576px) {
    .head{
        padding: 0px 20px;
        width: auto;
    }
    .tabs, .Sub{
        display: none;
    }
    .head img{
        display: flex;
    }
}

/*==========Home Icon=======*/
.hero-bg{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-direction: column;
    position: relative;
}

.icon {
    position: relative;
    top: 20px;
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: wave 2s ease-in-out infinite;
}

.icon img:first-child {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.icon img:nth-child(2) {
    position: absolute;
    width: 100px;
    z-index: 2;
}

.icon img:nth-child(2):hover{
    scale: 1.8;
    transition: 1s ease-in-out;
}
#new {
    position: absolute;
    top: 15px;
    right: 35px;
    width: 75px;
    text-align: center;
    background: #00FF88;
    color: #1A0B2E;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    z-index: 3;
    animation: pulse 1.5s ease-in-out infinite;
}


.t-wave {
    max-width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.t-wave h2 {
    font-size: 60px;
    margin-top: 10px;
}

.t-wave p {
    font-size: 16px;
    margin-top: 8px;
    width: 550px;
    font-weight: 200;
}
.buttons{
    display: flex;
    gap: 8px;
    margin: 24px;
}
#btn-1 {
    display: flex;
    align-items: center;
    width: 210px;
    height: 44px;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    color: white;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.3s ease;
}

#btn-1:hover {
    background-color: #1ed760;
    transform: scale(1.05);
}

#btn-2 {
    display: flex;
    align-items: center;
    width: 147px;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 30px;
    border: 1px solid #1ed760;
    cursor: pointer;
    background-color: transparent;
    color: #1ed760;
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s ease;
}

#btn-2:hover {
    background-image: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    scale: 1.1;
    transition: all 0.3s ease;
}

.buttons button img {
    width: 20px;
}



.hide{
    display: none;
}


/*===========About===========*/
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    text-align: center;
    color: #FFFFFF;
}

.text h2{
    font-size: 48px;
}

.text p{
    font-size: 16px;
    padding-top: 16px;
    font-weight: 200;
    line-height: 2;
}
.numbers{
    display: flex;
    gap: 80px;
    padding: 80px 200px;
}

.element{
    text-align: center;
}

.element h1{
    color: #00FF88;
    font-size: 48px;
}

.element p{
    color: #FFFFFF;
    font-size: 16px;
    padding-top: 16px;
    font-weight: 200;
    padding-bottom: 120px;
}

/*===================*/
.why{
    padding: 120px 200px;
    background-color: #230E3D;
}

.why h1{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 40px;
    color: #FFFFFF;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}
.container h3{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 800;
}

.container p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
}


.p-audio{
    background-color: #351165;
    border: none;
    border-radius: 40px;
    width: 380px;
    height: 480px;
    padding: 40px;

    grid-row: span 2;
    gap: 16px;
    display: flex;
    flex-direction: column;   /* optional, depends on your layout */
    justify-content: center;  /* vertical center */
    align-items: flex-start;
}

.mobile{
    grid-column: span 2;
    background-color: #351165;
    border: none;
    border-radius: 40px;
    padding: 40px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.last{
    background-color: #351165;
    border: none;
    border-radius: 40px;
    padding: 40px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.feature{
    padding: 120px 200px;
}
.feature h1{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 40px;
    color: #FFFFFF;
}
.video{
    background-color: #250D44;
    width: 100%;
    height: auto;
    border: none;
    border-radius: 24px;
}

.video-text{
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 12px;
}

.video-text h5{
    display: flex;
    font-size: 16px;
    font-weight: 600;
    color: #00FF88;
    gap: 6px;
}
.ytVideo{
    width: 380px;
    height: 214px;
    border: none;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
